<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Db.skd-laptop" value="Server = (local)\OfficeClip9; Initial Catalog = DocumentSync; Integrated Security = True"/>
    <add key="Db.Bharath_PC" value="Server = (Local)\OfficeClip10; Initial Catalog = DocumentSync; User ID=sa;Password=123;Trusted_Connection=False"/>
    <add key="Db.DESKTOP-K1V2OOO" value="Server = (local)\officeclip10; Initial Catalog = DocumentSync; User ID=sa;Password=123;Trusted_Connection=False"/>
    <add key="Db.DESKTOP-0K7VTCD" value="Server = DESKTOP-0K7VTCD\OFFICECLIP; Initial Catalog = DocumentSync; User ID=sa;Password=a1b2c3d4@;Trusted_Connection=False"/>
    <add key="DbOc.skd-laptop" value="Server = (local)\OfficeClip9; Initial Catalog = 10.4.15 New; Integrated Security = True"/>
  </appSettings>
</configuration>